body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
  .container {
    margin: 0px;
  }
}

h1{
  color: #444;
  text-align: center;
}

.container {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 0px 16px 10px;
}

.list-container {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 220, 224);
  border-image: initial;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  min-height: 100px;
  padding-bottom: 16px;
  position: relative;
  outline: transparent solid 1px;
  transition: outline 0.218s linear 0s;
  width: 30% !important;
  display: inline-block;
  margin: 16px 1.5%;
}

.list-container .list-title {
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  padding: 16px 16px 0px;
}

.list-container .item-content {
  color: rgb(95, 99, 104);
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 16px;
  padding: 10px 16px 0px;
}

.list-container textarea {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  overflow: hidden;
  resize: none;
  vertical-align: top;
  width: 90%;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 10px 16px 0px;
  font-size: 15px;
  font-weight: 400;
}